body {
  font-family: "Lato", sans-serif;

  margin: 0;
  padding: 0;
}

.cards {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  cursor: pointer;

  /*border: 2px solid #919090;*/

  border-radius: 10px;

  overflow: hidden;
}

.prezio-card {
  /*border: 2px solid #919090;*/

  border-radius: 10px;

  overflow: hidden;
  background-color: white;
  border-style: solid;
  border-color: #46ad84;
}

.prezio-card p {
  color: #46ad84;
}

.card-text {
  padding: 1rem;
}

.content {
  margin: 40px;
}

/*TO-DO ???*/
.image {
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #393548;
}

li {
  border: 0;
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #111;
}

.dropdown-content {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Botoia*/

.button {
  width: 240px;
  background: #46ad84;
  text-align: center;
  line-height: 45px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.button:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot {
  padding: 50px;
  color: white;
  background-color: #393548;
  text-align: center;
}

.foot i {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 34px;
}

.foot h2 {
  text-align: start;
}

.foot-columns {
  align-items: center;
  font-size: 22px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
}

.foot hr {
  color: #6d697c;
  width: 50%;
}

.page-content {
  padding-left: 10%;
  padding-right: 10%;
}

.media-columns-video {
  align-items: center;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}

.media-columns {
  align-items: center;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(1, 1fr);
}

.text-padding {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 1.5rem;
  margin-left: 18%;
  margin-right: 18%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3.5rem;
  background-color: white;
}
.text-padding h1 {
  font-size: 2.35em;
  line-height: 115%;
}

.map-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.map {
  grid-column: 1 / span 3;
}

.map-text {
  padding-left: 40px;
  padding-right: 40px;
  grid-column: 4 / span 2;
}

.atzeko-irudia {
  filter: brightness(0.85);
  height: 550px;
  width: 100%;
  object-fit: cover;
  object-position: top;

  /*Copiadisima de googel nipa funtziona pero a ver*/
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

/*Hasierako titulua argazkiakin*/

.atzekoa-container {
  z-index: -1;
  margin-top: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.atzekoa-edukia {
  position: absolute;
  text-align: center;
  color: white;
}

.atzekoa-edukia h1 {
  font-size: 3rem;
}

.atzekoa-edukia p {
  font-size: 1.5rem;
}
