.nav {
  position: fixed;
  top: 0;
  width: 100%;
}


.cards {
 
  display: grid;
   
  grid-template-columns: repeat(4, 1fr);
   
  grid-auto-rows: auto;
   
  grid-gap: 1rem;
   
  }
  
  .card {

    cursor: pointer;
   
  border: 2px solid #919090;
   
  border-radius: 4px;
   
  padding: .5rem;
   
  }

  .content {
    margin: 40px;
    margin-top: 80px;
  }

  .font {
    font-size: 25px;

  }
  .image{
    width: 100%;
  }